.carousTab{
	width:100%
}
.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
}
.text-center {
    text-align: center;
    text-decoration: none;
}
.home-p1 {
    width: 70%;
    height: 55%;
    max-height: 50px;
    max-width: 50px;
}
.home-f1 {
    color: #000000;
    margin-top: 1%;
    font-size: 0.8em;
}
.home-usr-rewards-outer {
    margin-top: 20px !important;
    /* background-image: url(/img/theme_home_usr/login_rewards.png); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 110px;
    text-align: center;
    font-size: 8px !important;
    padding: 0;
}
.home-unlogin-rewards-outer-bg{
	background-image: url(../../../images/home/unlogin_rewards.png);
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
}
.col-center {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item p {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
}
.list li{
    position: relative;

}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
}

.tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    max-width: 150px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    opacity: 0.7;
}
.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 32px;
}